/** { outline: 1px solid rgb(235,235,235); }*/
img { max-width: 100%; }
body {
	font-family: -apple-system, "Helvetica Neue",
		Helvetica, Arial, sans-serif;
	letter-spacing: 0.05rem;

	/*color: rgb(160,143,86);*/
	color: rgb(255,255,255);
	margin: 0;
}

#canv {
  width: 100%;
  height: 100%;
}

input {
	color: rgb(153,153,153);
	position: relative;
	top: -1px;
	width: 250px;
	height: 1.3rem;
	border: 1px solid rgb(204,204,204);
	border-radius: 2.5px;
}

.search {
	background: url("http://goo.gl/Vr7lxy");
	background-repeat: no-repeat;
	background-position: right;
}

hr {
	border: 0; height: 1px;
	background: rgb(204,204,204);
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 2.6rem;
	color: rgb(51,51,51);
	letter-spacing: 0.07rem;
}

h1.logo:hover {
	cursor: pointer;
	color: rgb(115,115,115);
}

p {
	font-size: 2rem;
	font-weight: bold;
	-webkit-font-feature-settings: "kern" 1;
	    -moz-font-feature-settings: "kern" 1;
	    -ms-font-feature-settings: "kern" 1;
	    font-feature-settings: "kern" 1;
}

header .header {
	display: -webkit-flex; display: -moz-flex;
	display: -ms-flex; display: -o-flex;
	display: flex;

	flex-flow: row;
	justify-content: space-between;
	max-width: 80%;
	margin: auto;
	margin-top: 1rem;
}

header {
	letter-spacing: .001rem;
	margin: 0.7rem 0 1rem 0;
}

header .header p {
	font-size: 1.1rem;
	font-weight: 400;
	margin: 0.2rem 0 0rem 0;
	margin-right: 2.4rem;
	color: rgb(51,51,51);
}

header .header p:hover {
	cursor: pointer;
	font-weight: bold;
}

.header form { margin-left: auto; }



/*   HEADER MINUS   */

header .header-minus {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-flow: row-reverse;
	color: rgb(102,102,102);
	max-width: 80%;
	margin: auto;
}
header .header-minus p {
	font-size: 0.8rem;
	font-weight: 400;
	padding-left: 1.3rem;
	margin: .5rem 0 .5rem 0;
}

header .header-minus p:hover {
	cursor: pointer;
	text-decoration: underline;
}

header .header-minus h1 {
	margin-right: auto;
}

header .header-minus p > b {
	color: rgb(102,102,102);
}



.content {
	display: -webkit-flex; display: -moz-flex;
	display: -ms-flex; display: -o-flex;
	display: flex;

	flex-flow: row wrap;
	max-width: 80%;
	margin: auto;
	text-align: center;
	color: rgb(102,102,102);
}

.content > div { margin: .2rem; }

.menu-wrap {
	display: -webkit-flex; display: -moz-flex;
	display: -ms-flex; display: -o-flex;
	display: flex;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1.2rem;
}

.menu {
	max-height: 500px;
	flex: 1 1 100%;
	overflow-y: hidden;
	/*position: relative;
	top: -10px;*/
}

.menu img {
	/*max-height: 500px;*/
	position: relative;
	top: 10px;
}




.menu p {
	position: absolute;  
	left: 50%;
	top: 33%;
	transform: translate(-50%, -50%);
	z-index: 1;
	font-size: 3.1rem;
	line-height: 3.3rem;
	text-shadow: 7px 8px 16px rgb(0,0,0);
	color: white;
	/*background: rgba(51,51,51, 0.7);*/
}

.menu p>span {
	font-size: 2.4rem;
}


.photo { flex: 1 1 150px; }
.new { flex: 1 2 150px; min-height: 140px; }
.address { flex: 1 2 150px; }
.job { flex: 1 1 150px; }


/*.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}*/







/*GREEN*/
.hvr-shutter-out-horizontal-green {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;

	/*background: rgb(240,240,240);*/
	background: rgb(240,240,240);

	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.23s;
	transition-duration: 0.23s;
}
.hvr-shutter-out-horizontal-green:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	/*background: rgb(208,241,253);*/
	background: rgb(140,190,170);

	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.23s;
	transition-duration: 0.23s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal-green:hover { cursor: pointer; }
.hvr-shutter-out-horizontal-green:hover,
.hvr-shutter-out-horizontal-green:focus,
.hvr-shutter-out-horizontal-green:active {
	color: white;
}
.hvr-shutter-out-horizontal-green:hover:before,
.hvr-shutter-out-horizontal-green:focus:before,
.hvr-shutter-out-horizontal-green:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}



/**/
/*ORANGE*/
/**/
.hvr-shutter-out-horizontal-orange {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;

	/*background: rgb(240,240,240);*/
	background: rgb(240,240,240);

	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.23s;
	transition-duration: 0.23s;
}
.hvr-shutter-out-horizontal-orange:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	/*background: rgb(208,241,253);*/
	background: rgb(248,211,151);

	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.23s;
	transition-duration: 0.23s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal-orange:hover { cursor: pointer; }
.hvr-shutter-out-horizontal-orange:hover,
.hvr-shutter-out-horizontal-orange:focus,
.hvr-shutter-out-horizontal-orange:active {
	color: white;
}
.hvr-shutter-out-horizontal-orange:hover:before,
.hvr-shutter-out-horizontal-orange:focus:before,
.hvr-shutter-out-horizontal-orange:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}



/**/
/*BLUE*/
/**/
.hvr-shutter-out-horizontal-blue {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;

	/*background: rgb(240,240,240);*/
	background: rgb(240,240,240);

	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.23s;
	transition-duration: 0.23s;
}
.hvr-shutter-out-horizontal-blue:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	/*background: rgb(208,241,253);*/
	background: rgb(173,217,237);
	

	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.23s;
	transition-duration: 0.23s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal-blue:hover { cursor: pointer; }
.hvr-shutter-out-horizontal-blue:hover,
.hvr-shutter-out-horizontal-blue:focus,
.hvr-shutter-out-horizontal-blue:active {
	color: white;
}
.hvr-shutter-out-horizontal-blue:hover:before,
.hvr-shutter-out-horizontal-blue:focus:before,
.hvr-shutter-out-horizontal-blue:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}




/**/
/*PINK*/
/**/
.hvr-shutter-out-horizontal-pink {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;

	/*background: rgb(240,240,240);*/
	background: rgb(240,240,240);

	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.23s;
	transition-duration: 0.23s;
}
.hvr-shutter-out-horizontal-pink:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	/*background: rgb(208,241,253);*/
	background: rgb(233,204,212);
	

	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.23s;
	transition-duration: 0.23s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal-pink:hover { cursor: pointer; }
.hvr-shutter-out-horizontal-pink:hover,
.hvr-shutter-out-horizontal-pink:focus,
.hvr-shutter-out-horizontal-pink:active {
	color: white;
}
.hvr-shutter-out-horizontal-pink:hover:before,
.hvr-shutter-out-horizontal-pink:focus:before,
.hvr-shutter-out-horizontal-pink:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}